/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Page background color */
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.sidebar header h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sidebar nav button {
    display: block;
    width: 100%;
    background-color: #0073e6;
    color: white;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.sidebar nav button:hover {
    background-color: #005bb5;
}

.filters.hidden {
    display: none;
}

/*hidden*/
.filters.hidden {
    display: none;
}

/* Main Content Styles */
main {
    width: 80%;
    overflow-y: auto;
    padding: 1rem;
}

#returnArrow {
    margin-bottom: 1rem;
    cursor: pointer;
    color: #0073e6;
    font-size: 1rem;
}

.hidden {
    display: none;
}

/* Content Styles */
.content {
    background-color: #ffffff;
    padding: 1rem;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Equal spacing between rows and columns */
    overflow-y: auto;
}

/* Post Card Styles */
.card {
    background-color: #f2f2f2; /* Card background color */
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card p {
    margin: 0.5rem 0;
}

.card a {
    color: #0073e6;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Button Styles */
.btn {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #005bb5;
}

.form-container {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
